# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
src/tests
src/views/Test.jsx
src/views/Auth/AuthPage.jsx
src/views/Auth/PasswordReset.jsx
src/views/User/UserProfile.jsx
src/hooks/useUserInfo.jsx
src/hooks/useProfileImage.jsx
src/views/Auth
src/views/User
src/components/Authentication
src/components/Authentication/Login.jsx
src/components/Authentication/Signup.jsx
src/components/Authentication/PasswordReset.jsx
src/components/Authentication/RenewPassword.jsx
src/components/User
src/components/User/ChangePFP.jsx
src/components/User/HomeComponent.jsx
src/components/User/EditPicture.jsx
