.fourofour{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.fourofour h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.fourofour p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

@media(min-width: 768px){
    
    .fourofour p{
        font-size: 1.5rem;
    }
}