.authen-container{
    display: flex;
    flex-direction: column;
    padding: 5rem 0 7rem 0;
    height: 100%;
    margin-bottom: 10rem;
    gap: 2rem;
    overflow-y: scroll;
    width: 100%;
}

.authen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.authen-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authen-container::-webkit-scrollbar{
    display: none;
}
.authen-topright-top{
    width: 80vw; /*change this to 100%*/
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: rgba(212, 212, 212, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 5rem;
    height: 500px;
}
.authen-topright-top > h5{
    font-family: 'Orbitron', sans-serif;
    font-size: 0.8rem;
}
.authen-topright-top > h1 span{
    font-family: 'Orbitron', sans-serif; 
    font-size: 2.5rem;
    color: rgba(230,53,53);
}
.authen-topright-top > h1 span + span{
    font-family: 'Orbitron', sans-serif; 
    font-size: 2.5rem;
    color: white;
}

.authen-topright-top > p.authen-switch{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.7rem;
}
.authen-switch:hover{
    cursor: pointer;
    color: rgb(214, 214, 214);
    transition: all 0.3s ease-in-out;
}
.authen-cred-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    
}
.authen-input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.authen-input{
   display: flex;
    flex-direction: column; 
}
.authen-input input{
    padding: 0.8rem;
    border: 1px solid var(--black);
    border-radius: 3px;
    color: red;
}
.authen-input input[type="text"]{
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    outline: 1px solid var(--french-gray);
}
.authen-input input::placeholder {
    color: #f0eeee; /* Change this to your desired color */
}
.authen-input-container p{
    font-size: 0.7rem;
    font-family: 'Varela Round', sans-serif;
}
.authen-button{
    padding: 0.5rem 2rem;
    background-color: rgb(230, 59, 59, 0.9);
    color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0 0.5rem;
}
p.authen-error{
    color: rgb(247, 244, 244);
    font-size: 1rem;
    line-height: 1.3;
    font-weight: bold;
    font-family: 'Marcellus SC', sans-serif;
}

.authen-botleft-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.authen-botleft-container img{
    width: 80vw;
}
.authen-botleft-container img.authen-botleft-image{
    width: 80vw; 
}
.authen-guidelines{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.authen-guidelines h1, .authen-guidelines ul{
    max-width: 200px;
}
.authen-guidelines h1{
    padding: 1rem;
    background-color: rgb(230, 59, 59);
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.authen-guidelines ul{
    padding: 0;
}
.authen-guidelines ul li{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9rem;
    color: white;
    padding: 0.5rem 0;
    line-height: 1.4;
    
}
@media(min-width: 640px){
    .authen-topright-top{
        width: 60vw;
    }
    .authen-botleft-container img{
        width: 60vw;
    }
    .authen-botleft-container img.authen-botleft-image{
        width: 60vw; 
    }
}
@media(min-width: 840px){
    .authen-container{
        flex-direction: row;
        justify-content: center;
        
    }
    .authen-topright-top{
        width: 30vw;
    }
    .authen-botleft-container img{
        width: 30vw;
    }
    .authen-botleft-container img.authen-botleft-image{
        width: 24vw; 
    }
}
@media(min-width: 1024px){
    .authen-topright-top{
        width: 30vw;
    }
    .authen-botleft-container img{
        width: 30vw;
    }
    .authen-botleft-container img.authen-botleft-image{
        width: 15vw; 
    }
}
@media(min-width: 1280px){
    .authen-topright-top{
        width: 20vw;
    }
    .authen-botleft-container img{
        width: 20vw;
    }
}
