.home-main-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start; 
  width: 100%;
  align-items: center;
  padding-bottom: 5rem;
  overflow-y: scroll;
  padding-top: 2rem;
}
.home-bottom-regions-container::-webkit-scrollbar,
.home-main-container::-webkit-scrollbar{
  display: none;
}


/* HOME TOP */
.home-top-desktop-text{
  display: none;
}
.home-top-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.home-top-container main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
}
.home-top-text{
  max-width: 270px;
  text-align: center;
  line-height: 1.5;
}
.home-top-tags{
  display: flex;
  gap: 0.5rem;
}
.home-top-buttons{
  display: flex;
  gap: 1rem;
}



/* HOME BOTTOM */
.home-bottom-container{
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-bottom-regions-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 4rem;
  overflow-x: auto;
}
.home-bottom-region {
  position: relative;
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.home-bottom-region-title {
position: absolute;
bottom: 10%;
padding-left: 10px;
padding-top: 20px;
left: 0;

}
.home-bottom-region img {
  object-fit: contain;
  max-width: 80px;
}


/* HOME GRID */
.home-game-container{
  display: none;
}




/* STYLES */

.home-top-container main > img.home-top-logo{
  max-width: 90%;
  
}
.home-top-image{
  max-width: 80vw;
  margin-top: 2rem;
}
.home-top-text p{
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8rem;
}
.home-top-tag{
  background-color: rgb(18, 18, 18, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
  color: rgb(219, 219, 219);
  font-size: 0.8rem;
  box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.home-top-buttons a{
  padding: 0.5rem 2rem;
  background-color: rgb(230, 59, 59, 0.9);
  color: white;
  border: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 0 0.5rem;
}
.home-top-buttons a:hover{
  background-color: rgba(206, 44, 44, 0.9);
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}
.home-bottom-region{
  background-color: rgba(65, 15, 99, 0.507);
  border-top: 3px solid rgb(230, 59, 59);
}
.home-bottom-region:hover{
  background-color: rgba(82, 6, 6, 0.8);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.home-bottom-region:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.home-bottom-region-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 0.7rem;
}


@media(min-width: 840px){
  .home-top-desktop-text{
      display: block; 
  }
  .home-top-mobile-text{
      display: none;
  }
  .home-main-container{
      align-items: start;
      padding-top: 3rem;
  }
  .home-top-container{
      flex-direction: row;
      padding-left: 5rem;
      width: 100vw;
      justify-content: center;
  }
  .home-top-container main{
      align-self: start;
      align-items: start;
      padding-left: 3rem;
      
  }
  .home-top-text{
      max-width: 300px;
      text-align: start;
      line-height: 1.5;
  }
  .home-top-container main > img.home-top-logo{
    margin-left: -2rem;
  }
  .home-top-image{
    max-width: 50vw;
    margin-top: 2rem;
    margin-right: 8rem;
  }
  /* HOME BOTTOM */
  .home-bottom-container{
    margin-top: 4rem;
  }
  .home-bottom-regions-container{
      justify-content: center;
  }
  /* HOME IMAGES */
  .home-game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1rem 0;
    
    width: 100%;
    margin-top: 5rem;
    border-top: 3px solid rgb(230, 59, 59);
    border-bottom: 3px solid rgb(230, 59, 59);
    background-color: rgb(34, 4, 4, 0.6);
  }
  .home-game-container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 3rem;
    overflow: hidden;
    padding: 0.3rem 0;
  }
  .home-game-container > div::-webkit-scrollbar{
    display: none;
  }
  .home-game-container > div {
    position: relative;
    width: 100%;
    
  }
  .home-game-container > div::before {
    content: "";
    background-image: url('../../placeholders/pattern.png');
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
  }
  .home-game-image{
    max-width: 31%;
    max-height: 97%;
    z-index: 2;
    border-radius: 7px 20px 7px 20px;
    box-shadow:  0 0 15px 0 rgba(211, 66, 255, 0.5);
    border: 1.5px solid rgb(241, 19, 19);
  }
} 