.home-background {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 5rem;
  padding-top: 3rem;
  height: auto;
  
}
.home-background {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  flex-grow: 1;
}

.home-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    z-index: 0;
}
.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 5rem;
  position: relative;
  z-index: 1;
  
}
.home-div-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 5rem;
}

.home-image-container{
  display: none;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-div img {
  max-width: 250px; 
  max-height: 250px;
  object-fit: cover;
}

img.home-emote{
  max-width: 100px; 
  max-height: 100px; 
  object-fit: cover;
}
.desktop-text {
  display: none;
}
.mobile-text{
  max-width: 200px;
  line-height: 1.5;
  font-size: 0.8rem;
}
button.home-play{
  padding: 0.5rem 2rem;
  align-self: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid transparent;

}
button.home-play img{
  
  max-width: 300px;
}
button.home-play img:hover{
  /* get smaller */
  transform: scale(0.95);
}
.home-image-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    
}
.push-left{
  margin-left: -10rem;
}
.home-images-mobile{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.home-images-mobile img{
  border: 2px solid var(--electric-blue);
  border-radius: 15px;
  margin-bottom: 10rem;
}
.home-images-desktop{
  display: none;
}


@media screen and (min-width: 500px){
    .home-images-mobile{
        flex-direction: row;
    }
    .home-div img {
      max-width: 300px;
      max-height: 300px; 
      object-fit: cover;
    }
    img.home-emote{
      max-width: 300px; 
      max-height: 300px; 
      object-fit: cover;
    }
    .mobile-text{
      max-width: 250px;
      font-size: 1rem;
    }
    button.home-play{
      
      align-self: end;
     
    }
    .home-image-mobile{
        display: flex;
        
        padding: 5rem 0;
    }
    .home-images-mobile{
        display: flex;
        gap: 5rem;
    }
    .home-image-mobile .home-image{
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
        
        border-radius: 15px;
    }
}
@media screen and (min-width: 840px){
  .home-images-desktop{
      display: flex;
      flex-direction: column;
      gap: 3rem;
  }
  
  .home-image-mobile .home-image{
      max-width: 500px;
      max-height: 500px;
      object-fit: cover;
      

  }
  .home-images-mobile{
      display: none;
  }

}
  
@media screen and (min-width: 1138px) {
  .home-image-mobile{
    display: none;
  }
  .home-background {
    height: 100%;
    
  }
  .home-div {
    flex-direction: row;
  }
  .mobile-text {
    display: none;
  }
  .desktop-text {
    display: block;
    max-width: 300px;
    line-height: 1.5;
    text-align: right;
  }
  .home-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home-image-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .home-div-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }
  img.home-image{
    max-width: 500px;
    object-fit: cover;
    border: none; 
    border-radius: 15px;
  }
  
}

@media screen and (min-width: 1400px){
    img.home-image{
        max-width: 800px;
        object-fit: cover;
        
    }
}