.profile-container2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 5rem;
    overflow-y: scroll;
    padding-bottom: 10rem;
}
.profile-container2::-webkit-scrollbar{
    display: none;
}
.profile-topright{
    display: flex;
    flex-direction: column;
    width: 80vw;
}
.profile-topright-nav{
    display: flex;
    flex-direction: row;
}
.phome-component-top{
    display: flex;
    flex-direction: column;
    
}
.phome-component-container{
    margin-top: 1rem;
}



/* styles */
.profile-topright > h1{
    padding: 1rem;
    background-color: rgba(209, 36, 36, 0.623);
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.profile-topright-nav button {
    width: 33.33%;
    padding: 0.5rem;
    border: 1px solid white;
    background-color: rgb(182, 39, 39);
    color: white;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;

}
.phome-component-top > h1{
    padding: 1rem;
    background-color: rgba(230, 59, 59, 0.089);
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.phome-component-top img{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.phome-component-bot {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.phome-component-bot li {
    padding: 1rem;
    background-color: rgba(236, 236, 236, 0.089);
    color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: space-between;
}
.phome-component-bot li p{
    align-self: end;
}
.profile-topright > h1{
    width: 100%;
}

.bigLogo{
    max-width: 80vw;
}
.peditprof-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.peditprof-pagination{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.peditprof-pagination button{
    padding: 1rem;
    background-color: #e63b3b;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border: none;
}
.peditprof-container ul{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}
.peditprof-container ul li img{
    max-width: 100%;
}
.peditprof-container ul li img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer; 
}
.peditprof-msg {
    color: rgb(247, 244, 244);
    font-size: 0.6rem;
    line-height: 1.3;
    font-weight: bold;
    font-family: 'Marcellus SC', sans-serif;
    max-width: 100px;
    word-wrap: break-word;
    
}
@media(min-width: 420px){
    .profile-topright{
        width: 40vw;
    }
    .bigLogo{
        max-width: 40vw;
    }
}
@media(min-width: 600px){
    .profile-topright{
        width: 50vw;
    }
    .bigLogo{
        max-width: 50vw;
    }

}
@media(min-width: 840px){
    .profile-content2{
        display: flex;
        flex-direction: row;
    }
    .profile-topright{
        width: auto;
        gap: 1rem;
    }
    .profile-topright-content{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .profile-topright-nav{
        display: flex;
        flex-direction: column;
    }
    .phome-component-top{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1rem;
    }
    .phome-component-container{
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .phome-component-bot li{
        width: 100%;
    }
    .profile-topright > h1{
        width: 100%;
    }
    ul.phome-component-bot{
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
    }
    .profile-topright-nav button {
        width: 100%;
    }
    .phome-component-top > h1{
        max-height: 50px;  
        width: 220px; 
    }
    .bigLogo{
        max-width: 20vw;
    }

    .peditprof-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .peditprof-container ul{
        margin-top: 0;
    }
    .peditprof-container ul li img{
        max-width: 100px;
    }
    
}