.guides-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: auto;
   margin-top: 2rem;
}
.guides-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 1rem;
    padding: 1rem 1rem;
    padding-bottom: 8rem;
    width: 100%;
    margin-bottom: 5rem;
}
.guides-wrapper > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
   
}
.guides-wrapper section .guide-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.guides-container > h1{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    
    
}

.guides-wrapper iframe{
    max-width: 100%;
    height: 200px;
    border: 1px solid var(--french-gray);
    border-radius: 10px;
}
.guides-wrapper a:hover{
    transition: all 0.3s;
    color: rgb(68, 168, 172);
}

@media(min-width: 600px){
    .guides-wrapper > section{
        flex-direction: row;
        gap: 2rem;
    }
}


@media(min-width: 1024px){
    .guides-container{
        padding: 2rem 3rem 0 3rem;
        margin-top: 0;
    }
    .guides-wrapper > section{
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .guides-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .guides-wrapper{
        width: 80%;
    }
    .guides-wrapper iframe{
        width: 80%;
        height: 100%;
    }
    .guides-container > h1{
        width: 80%;
        border-radius: 10px 10px 0 0;
    }
}
@media (min-width: 1480px){
    .guides-wrapper iframe{
        max-width: 100%;
        min-height: 200px;
    }
    .guides-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .guides-wrapper{
        width: 80%;
    }
    .guides-wrapper iframe{
        width: 100%;
        height: 100%;
    }
    .guides-container > h1{
        width: 80%;
    }
    .guides-wrapper{
        padding: 1rem 4rem;
        padding-bottom: 4rem;
    }
}