.guides-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: auto;
    padding-top: 2rem;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-bottom: 4rem;
}
.guides-container::-webkit-scrollbar{
    display: none;
}
.guides-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 1rem;
    padding: 1rem 1rem;
    padding-bottom: 8rem;
    width: 100%;
    margin-bottom: 5rem;
    
}
.guides-wrapper > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
   
}
.guides-wrapper > section::before{
    background-image: url('../../../placeholders/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 1rem;
    opacity: 0.3;
}
.guides-wrapper section .guide-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.guides-container > h1{
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

.image-container {
    position: relative;
    height: auto; 
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(108, 20, 126, 0.6));
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.image-container:hover::before {
  opacity: 1;
  
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--french-gray);
    border-radius: 0.3rem;
    
}
.guides-wrapper a:hover{
    transition: all 0.3s;
    color: rgb(68, 168, 172);
}

@media(min-width: 600px){
    .guides-wrapper > section{
        flex-direction: row;
        gap: 2rem;
    }
}


@media(min-width: 700px){
    .guides-container{
        padding: 2rem 3rem 0 3rem;
        margin-top: 0;
    }
    .guides-wrapper > section{
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
    .guides-wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .guides-wrapper{
        width: 80%;
    }
    .guides-wrapper img{
        width: 100%;
        height: 100%;
    }
    .guides-container > h1{
        width: 80%;
        border-radius: 10px 10px 0 0;
    }
}
@media (min-width: 1480px){
    .guides-wrapper iframe{
        max-width: 100%;
        min-height: 200px;
    }
    .guides-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .guides-wrapper{
        width: 80%;
    }
    .guides-wrapper img{
        width: 100%;
        height: 100%;
    }
    .guides-container > h1{
        width: 80%;
    }
    .guides-wrapper{
        padding: 1rem 4rem;
        padding-bottom: 8rem;
    }
}