.help-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 10rem;
    height: 100vh;
    overflow-y: scroll;
}
.help-wrapper::-webkit-scrollbar{
    display: none;
}
.help-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.help-wrapper > h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Orbitron', sans-serif;
    padding: 1rem;
    background-color: #e63b3bad;
    width: 80vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    text-align: end;
    text-transform: uppercase;
}
.help-container-questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    gap: 1rem;
    min-width: 70vw;
    max-width: 70vw;
}
.help-question-container > p{
    line-height: 1.5;
    background-color: rgba(15, 15, 15, 0.507);
    font-size: 0.8rem;
}
.help-question-container > p.open {
    padding: 10px;
}

.help-container button{
    min-width: 70vw;
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(88, 6, 6, 0.7);;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    
}
.help-container button p{
    text-align: end;
    font-size: 1rem;
}
.help-container-2{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.help-container-2 h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;
}
.help-question-container p.help-question{
    font-family: 'Orbitron', sans-serif;
    font-size: 0.7rem;
}
.help-question-container p.help-answer{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.7rem;
}
.help-usefullinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    
}
.help-usefullinks a{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    color: rgb(248, 248, 248);
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 0.5rem;
}
.help-usefullinks a:hover{
    color: rgb(231, 229, 231);
    border-bottom: 1px solid red;
}

@media(min-width: 600px){
    .help-container{
        flex-direction: row;
        padding-bottom: 5rem;
    }
    .help-container-questions{
        min-width: 45vw;
        max-width: 45vw;
    }
    .help-container button{
        min-width: 45vw;
        max-width: 45vw;
    }
    .help-wrapper > h1{
        margin-left: -16rem;
        width: 45vw;
    }
    
}

@media(min-width: 1024px){
    .help-container-questions{
        min-width: 30vw;
        max-width: 30vw;
    }
    .help-container button{
        min-width: 30vw;
        max-width: 30vw;
    }
    .help-wrapper > h1{
        width: 30vw;
    }
}

@media(min-width: 1440px){
    .help-container-questions{
        min-width: 25vw;
        max-width: 25vw;
    }
    .help-container button{
        min-width: 25vw;
        max-width: 25vw;
    }
    .help-wrapper > h1{
        width: 25vw;
    }
}