.tutorial-desktop{
    display: none;
}
.tutorial-container{
    height: 100vh;
    margin-top: -0.1rem;
    padding-bottom: 10rem;

}
.tutorial-container::-webkit-scrollbar{
    display: none;
}


.tutorial-container-desk{
    display: none;
}
.tutorial-mobile{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        height: 100%;
        
        overflow-y: scroll;
}
.tutorial-container-mb{
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 10rem;
    padding-top: 3rem;
}
.tutorial-container-mb::-webkit-scrollbar{
    display: none;
}

.tutorial-region-mb img{
    max-width: 100px;
}



/* Top Section */
.tutorial-top-container-mb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.tutorial-img-container-mb img{
    width: 60vw;
    object-fit: cover;
    border: 2px solid rgba(7, 3, 26, 0.39);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.tutorial-img-container-mb img:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
}
/*Top Section Nav*/
.tutorial-navigation-mb{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: rgba(212, 212, 212, 0.185);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.tutorial-navigation-mb button{
    width: 10%;
    padding: 0.2rem;
    background-color: #d1d1d1;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
}
.tutorial-navigation-desk button:hover{
    background-color: #e63b3be6;
    transition: all 0.3s ease-in-out;
    padding: 0.2rem;
    
}
/*Top Section Text*/
.tutorial-text-container-mb{
    max-width: 60vw;
    background-color: rgba(15, 15, 15, 0.507);
    width: 80vw;
    
}
.tutorial-text-container-mb > h2{
    padding: 1rem;
    background-color: rgb(230, 59, 59);
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.tutorial-text-mb p, .tutorial-text-mb ul{
    padding: 1rem;
    line-height: 1.5;
    font-family: 'Varela Round', sans-serif;
    color: white;
}


/*Regions Section*/
.tutorial-bot-container-mb{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial-bot-links-mb{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
    height: 35px;
}
.tutorial-bot-links-mb a{
    padding: 0.5rem 2rem;
    background-color: #e63b3be6;
    color: white;
    border: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0 0.5rem;
    justify-content: center;
    width: 20vw;
}
.tutorial-bot-links-mb a:hover{
    background-color: rgba(206, 44, 44, 0.9);
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}


.tutorial-regions-imagesL-mb-2{
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 4rem;
  overflow-x: auto;
}
.tutorial-region-mb{
    display: flex;
    position: relative;
    width: 100px;
    height: 110px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(212, 212, 212, 0.185);
    border-top: 3px solid rgb(230, 59, 59);
}
.tutorial-region-mb:hover{
    background-color: rgba(82, 6, 6, 0.8);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.tutorial-region-mb:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.tutorial-region-mb img{
    object-fit: contain;
    max-width: 80px;
}

@media(min-width: 550px){
    .tutorial-img-container-mb img{
        max-width: 40vw;
    }
    .tutorial-text-container-mb{
        max-width: 40vw;
        background-color: rgba(15, 15, 15, 0.507);
        
    }
}



@media(min-width: 840px){
    .tutorial-container-desk{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 6rem;
        height: 100%;
        padding-bottom: 0rem;
        overflow-y: scroll;
    }
    .tutorial-container-desk::-webkit-scrollbar, .tutorial-container-mb{
        display: none;
    }
    .tutorial-img-container-desk img{
        object-fit: cover;
        border: 2px solid rgba(7, 3, 26, 0.39);
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }
    .tutorial-img-container-desk img:hover{
        cursor: pointer;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease-in-out;
    }
    .tutorial-region-desk img{
        max-width: 100px;
    }

    /*Top Section*/
    .tutorial-top-container-desk{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .tutorial-text-container-desk{
        max-width: 20vw;
        background-color: rgba(15, 15, 15, 0.507);
        height: 40vh;
        max-height: 40vh;
        overflow-y: hidden;
        overflow: auto;
    }
    .tutorial-text-container-desk::-webkit-scrollbar{
        display: none;
    }
    .tutorial-text-container-desk > h2{
        padding: 1rem;
        background-color: rgb(230, 59, 59);
        font-family: 'Orbitron', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    }
    .tutorial-text-desk p{
        padding: 1rem;
        line-height: 1.5;
        font-family: 'Varela Round', sans-serif;
    }
    .tutorial-img-container-desk img{
        max-width: 500px;
    }

    /*Navigation Section*/
    .tutorial-navigation-desk{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        background-color: rgba(212, 212, 212, 0.185);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    .tutorial-navigation-desk button{
        width: 10%;
        padding: 0.2rem;
        background-color: #d1d1d1;
        border: none;
        color: white;
        font-size: 1rem;
        font-family: 'Orbitron', sans-serif;
    }
    .tutorial-navigation-desk button:hover{
        background-color: #e63b3be6;
        transition: all 0.3s ease-in-out;
        padding: 0.2rem;
        
    }

    /*Regions Section*/
    .tutorial-regions-imagesL-desk{
        display: none;
    }
    .tutorial-regions-imagesL-desk-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        margin-top: 4rem;
    }
    .tutorial-region-desk{
        display: flex;
        position: relative;
        width: 100px;
        height: 110px;
        display: flex;
        justify-content: center;
        padding: 2rem;
        background-color: rgba(212, 212, 212, 0.185);
        border-top: 3px solid rgb(230, 59, 59);
    }
    .tutorial-region-desk:hover{
        background-color: rgba(82, 6, 6, 0.8);
        transition: all 0.3s ease-in-out;
        
    }
    .tutorial-region-desk:hover img{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
    .tutorial-region-desk img{
        object-fit: contain;
        max-width: 80px;
    }
    
    .tutorial-bot-container-desk{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }

    .tutorial-bot-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 1rem;
        margin-top: 4rem;
        height: 35px;
    }
    .tutorial-bot-links a{
        padding: 0.5rem 2rem;
        background-color: #e63b3be6;
        color: white;
        border: none;
        font-family: 'Varela Round', sans-serif;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        gap: 0 0.5rem;
    }
    .tutorial-bot-links a:hover{
        background-color: rgba(206, 44, 44, 0.9);
        transition: all 0.3s ease-in-out;
        transform: scale(0.9);
    }

    
}
@media(min-width: 1024px){
    .tutorial-img-container-desk img{
        max-width: 600px;
    }
    
}
@media(min-width: 1300px){
    .tutorial-regions-imagesL-desk{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    .tutorial-regions-imagesL-desk-2{
        display: none;
    }
    .tutorial-text-container-desk{
        height: 50vh;
        max-height: 50vh;
    }
}
@media(min-width: 1440px){
    .tutorial-img-container-desk img{
        max-width: 700px;
    }
    
}
@media(min-width: 1600px){
    .tutorial-img-container-desk img{
        max-width: 800px;
    }
}
