.tutorial-desktop{
    display: none;
}
.tutorial-container{
    min-height: 100%;
    background-image: linear-gradient(rgba(82, 82, 82, 0.5), rgba(0, 0, 0, 0.7)), url('../../../placeholders/arcade2.gif');
    background-size: cover;
    background-position: center;
    margin-top: -0.1rem;
    padding-bottom: 5rem;
}
.tutorial-desktop-highlight{
    color: red;
}
.tutorial-container-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding-bottom: 3rem;
    
    padding-top: 2rem;
}
.tutorial-container-mobile img{
    
    min-height: 500px;
    max-height: 500px;
    border: 1px solid var(--french-gray);;
}
.tutorial-mobile-text{
    min-width: 80%;
    max-width: 80%;
    min-height: 80%;
    max-height: 80%;
    
    color: white;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 3rem;
}
.tutorial-mobile-text ul{
    text-align: start;
}
.tutorial-mobile-text li{
    color: yellow;
}
.tutorial-mobile-text ul li:first-child{
    color: white;
    padding-bottom: 20px;
}
.tutorial-mobile-pagination button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 2.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
}
.tutorial-mobile-pagination button:hover{
    color: var(--french-gray);
    transition: all 0.3s ease;
}
.tutorial-container-mobile .auth-tab-top{
    font-size: 1.5rem;
    padding: 1rem 0;
    border: none;
    width: 80%;
    text-align: center;
    
    
}
@media(min-width: 600px){
    .tutorial-container-mobile img{
        min-width: 55%;
        max-width: 55%;
        height: 55%;
    }
    .tutorial-mobile-text{
        max-width: 55%;
        min-width: 55%;
        max-height: 55%;
    }
    .tutorial-container-mobile .auth-tab-top{
        max-width: 55%;
    }
}

@media screen and (min-width: 840px) and (min-height: 700px){
    .tutorial-container{
        
    }
}
@media screen and (min-width: 840px){
    .tutorial-mobile{
        display: none;
    }
    .tutorial-desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        
    }
    .tutorial-desktop h1{
        color: white;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        
    }
    .tutorial-container-desktop{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
    .tutorial-container-desktop img{
        width: 100%;
        height: 100%;
        outline: 1px solid var(--french-gray);
        border: 1px solid blue;
        padding: 0.1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
    
    .tutorial-wrapper-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        gap: 3rem;
    }
    .tutorial-container-desktop {
        perspective: 1000px;
    }
    
    .tutorial-images-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        
        transition: transform 0.5s;
    }
    
    .tutorial-wrapper-desktop > div img {
        max-width: 25%;
        transition: all 0.5s;
        opacity: 0.6;
    }
    
    .tutorial-wrapper-desktop > div img.main {
        max-width: 60%;
        opacity: 1;
    }
    
    .tutorial-wrapper-desktop > div img.prev,
    .tutorial-wrapper-desktop > div img.next {
        transform: scale(0.8);
    }
    
    .tutorial-desktop-text{
        max-width: 60%;
        min-width: 60%;
        min-height: auto;
        max-height: auto;
        padding: 1rem;
        background-color: var(--rich-black-22);
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .tutorial-desktop-text p{
        color: white;
        font-size: 1.2rem;
        text-align: start;
        max-width: 60%;
        line-height: 1.5;
        text-align: center;
    }
    .tutorial-desktop-text button {
        font-size: 2rem;
        color: white;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .tutorial-desktop-text button:hover{
        color: var(--french-gray);
        transition: all 0.3s ease;
    }
}

@media(min-width: 1024px){
    
}