/*TEXT OVERFLOW */
.desk-nav-account, .desk-nav-leaderboard, .desk-nav-faq, .desk-nav-tutorial, .desk-nav-play,
.nav-account, .nav-leaderboard, .nav-faq, .nav-tutorial, .nav-play {
    white-space: nowrap;
}


/* Layout */
.header {
    background-color: var(--rich-black);
    padding: 1rem;
    position: relative; 
}


.navbar-desk {
    display: none;
}

.navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo {
    width: 100px; 
    height: auto; 
}

.nav-left {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: var(--rich-black);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-100%);
    padding-top: 0rem;
    height: 90vh;
    
}

.nav-right {
    display: flex;
    align-items: center;
}

/* Navigation Links */
.nav-account,
.nav-leaderboard,
.nav-faq,
.nav-tutorial,
.nav-guides,
.nav-play {
    padding: 1rem; 
}
.nav-account {
    padding-top: 1rem;
}

.nav-left a {
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
    border: 1px solid var(--french-gray);
    background-color: var(--dark-purple-2);
}



.nav-left a, .nav-left a span{
    color: var(--french-gray);
    display: flex;
    gap: 0 1rem;
    
}
.nav-left a:hover, .nav-left a:hover span{
    color: var(--electric-blue);
    transition: all 0.3s ease-in-out;
}
.nav-left a span{
    font-family: 'Rubik Mono One', sans-serif;
}


.navbar-mobile .nav-left .nav-play {
    color: rgb(255, 255, 255);
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger-menu.open div:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger-menu.open div:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open div:nth-child(3) {
    transform: rotate(-45deg);
}

.nav-left.open {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    width: 100%;
    top: 0; 
    left: 0;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 9999; 
    margin-top: 4rem;
    height: 100vh;
}

.nav-left.open {
    display: flex;
    transform: translateX(0);
}
.user-info-mobile{
    height: 35px;
    padding: 2rem 1rem;
    object-fit: cover;
    display: flex;
    align-items: center;
    gap: 0 1rem;
    border: 2px solid var(--french-gray);
    background-color: var(--dark-purple);
}
.nav-play{
    text-align: center;
    background-color: var(--dark-purple) !important;
}

img.nav-profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}
.user-info-mobile p{
    color: white;
    font-family: 'Rubik Mono One', cursive;
}
.nav-left img{
    width: 70%;
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

@media(min-width: 600px){
    .nav-left{
        
        width: 50%;
        height: 90vh;
    }
    .nav-left.open{
        width: 50%;
        
    }
    
}

@media(min-width: 900px){

    /* LAYOUT */
    .header{
        padding: 0 1rem;
    }
    .navbar-mobile{
        display: none;
    }
    .navbar-desk{
        display: flex;
        width: 100%;
    }
    .navbar-desk .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .desk-nav-left{
        display: flex;
        align-items: center;
        width: 50%;
        gap: 0 3rem;
    }
    .desk-nav-left a{
        font-size: 1rem;
        text-decoration: none;
        color: white;
        font-family: 'Rubik Mono One', cursive;
        white-space: nowrap;
        
    }
    .desk-nav-left a{
        display: flex;
        gap: 0 0.5rem;
    }
    .desk-nav-left a span{
        font-size: 1rem;
        text-decoration: none;
        color: white;
        font-family: 'Rubik Mono One', cursive;
        white-space: nowrap;
    }
    .desk-nav-left a:hover span, .desk-nav-left a:hover{
        color: var(--electric-blue);
        transition: all 0.3s ease-in-out;
    }
    .desk-nav-right{
        display: flex;
        width: 20%;
        justify-content: end;
        gap: 0 1rem;
        align-items: center;
    }
    
    .desk-nav-logo {
        width: 100px; 
        height: auto; 
    }
    .desk-nav-logo:hover{
        cursor: pointer;
    }

    img.desk-nav-profile{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid white;
    }
    img.desk-nav-profile:hover{
        cursor: pointer;
        border: 2px solid var(--electric-blue);
        transition: all 0.3s ease-in-out;
    }


    /* PLAY BUTTON */
    

    /* LOGIN BUTTON */
    
}

@media (max-width: 1166px) {
    .desk-nav-left a span {
      display: none;
    }
  }