@import './reset.css';
@import './Layout/Header.css';
@import './Layout/Footer.css';
@import './Pages/Home.css';
@import './Pages/Auth.css';
@import './Pages/UserProfile.css';
@import './Pages/Game/Difficulty.css';
@import './Pages/Game/Game.css';
@import './Pages/Game/EndGame.css';
@import './Pages/Navbar/Tutorial.css';
@import './Pages/Navbar/Guides.css';
@import './Pages/Navbar/Help.css';
@import './Pages/404.css';
@import 'tippy.js/dist/tippy.css'; 
@import 'tippy.js/animations/shift-away-subtle.css'; 


@import 'simplebar-react/dist/simplebar.min.css';


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* PARAGRAPH TEXT ^ font-family: "Asap Condensed", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fugaz+One&display=swap');
/* HEADER/MENU TEXT ^ font-family: 'Fugaz One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* BUTTON TEXT ^ font-family: 'Rubik Mono One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
/* LOGO TEXT ^ font-family: 'Jomhuria', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* GAME TEXT ^ font-family: 'Press Start 2P', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
/* LEAGUE BUTTON TEXT ^ font-family: 'Marcellus SC', serif; */


#css-loaded-marker {
  display: none;
  color: #123456; /* This color is arbitrary, just make sure it's unique */
}
.react-loading-skeleton {
    height: 20px;
    margin-bottom: 10px;
}
:root{
    --rich-black: #07031aff;
    --dark-purple: #221e37ff;
    --rich-black-2: #08051bff;
    --rich-black-22: rgba(8, 5, 27, 0.6);
    --rich-black-3: #0a051aff;
    --french-gray: #b2b2bcff;
    --dark-purple-2: rgba(34, 30, 55, 0.6);

    --black: #000000ff;
    --black-2: #000000ff;
    --dark-slate-gray: #455e63ff;
    --electric-blue: #5be0e5ff;
    --electric-blue-2: rgb(17, 150, 177);
    --night: #0b0b0bff;
    
    
}
body{
  background-image: linear-gradient(rgba(82, 82, 82, 0.5), rgba(0, 0, 0, 0.7)), url('../placeholders/arcade.gif');
  background-size: cover;
  background-position: center;
}

/* For Firefox */

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar, .content::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-track, .content::-webkit-scrollbar-track, #root::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
  background-color: var(--dark-purple);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover, .content::-webkit-scrollbar-thumb:hover, #root::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-purple-2);
}



*{
    font-family: "Asap Condensed", sans-serif;
    box-sizing: border-box;
}
a:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}
p, span, h1, h2, h3, h4, h5, h6, label, a{
    color: white;
}
input[type="text"], input[type="password"], input[type="email"] {
    color: white;
    
}
body, #root{
  overflow-y: hidden;
}
a {
    text-decoration: none;
    color: var(--electric-blue);
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex-shrink: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.content {
  flex-grow: 2;
  padding-top: 4rem;
}
.content{
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

.footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.tippy-box{
    background-color: var(--electric-blue);
}
.tippy-arrow{
    color: var(--electric-blue);
}
.tippy-content {
    color: white;
}
.loading-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width: 840px){
  .content {
    flex-grow: 2;
    background-image: linear-gradient(rgba(82, 82, 82, 0.5), rgba(0, 0, 0, 0.7)), url('../placeholders/arcade.gif');
    background-size: cover;
    background-position: center;
   
    padding-top: 4.5rem;
  }
}





.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  border-radius: 8px;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  
  border-width: 2px;
  overflow: hidden;
  padding: 0.3rem 2rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  border-radius: 8px;
  box-shadow: 1rem black;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
  
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 2px solid #fff;
  
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: var(--rich-black-2);
  color: white;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  font-family: 'Press Start 2P', cursive;
  
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  font-family: 'Press Start 2P', cursive;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}


.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: var(--electric-blue);
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-11 0:52:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


.league-button{
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px; 
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #5a400d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

.league-button:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

.league-button:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}
