@import './reset.css';
@import './Layout/Header.css';
@import './Layout/Footer.css';
@import './Pages/Home.css';
@import './Pages/Game/Difficulty.css';
@import './Pages/Game/Game.css';
@import './Pages/Game/EndGame.css';
@import './Pages/Navbar/Tutorial.css';
@import './Pages/Navbar/Guides.css';
@import './Pages/Navbar/Help.css';
@import './Pages/404.css';
@import './Pages/Navbar/Stats.css';
@import 'tippy.js/dist/tippy.css'; 
@import 'tippy.js/animations/shift-away-subtle.css'; 



@import 'simplebar-react/dist/simplebar.min.css';


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* PARAGRAPH TEXT ^ font-family: "Asap Condensed", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* FOOTER TEXT ^ font-family: 'Varela Round', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* FOOTER TEXT ^ font-family: 'Orbitron', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* GAME TEXT ^ font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* PARAGRAPH TEXT ^ font-family: "Asap Condensed", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fugaz+One&display=swap');
/* HEADER/MENU TEXT ^ font-family: 'Fugaz One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* BUTTON TEXT ^ font-family: 'Rubik Mono One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
/* LOGO TEXT ^ font-family: 'Jomhuria', cursive; */


#css-loaded-marker {
  display: none;
  color: #123456; 
}

.react-loading-skeleton {
    height: 20px;
    margin-bottom: 10px;
}
:root{
    --rich-black: #07031aff;
    --dark-purple: #221e37ff;
    --rich-black-2: #08051bff;
    --rich-black-22: rgba(8, 5, 27, 0.6);
    --rich-black-3: #0a051aff;
    --french-gray: #b2b2bcff;
    --dark-purple-2: rgba(34, 30, 55, 0.6);

    --black: #000000ff;
    --black-2: #000000ff;
    --dark-slate-gray: #455e63ff;
    --electric-blue: #5be0e5ff;
    --electric-blue-2: rgb(17, 150, 177);
    --night: #0b0b0bff;
    
    
}
body{
  background-color: var(--rich-black);
  background-size: cover;
  background-position: center;
  
}
body::-webkit-scrollbar, .content::-webkit-scrollbar, #root::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-track, .content::-webkit-scrollbar-track, #root::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb {
  background-color: var(--dark-purple);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover, .content::-webkit-scrollbar-thumb:hover, #root::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-purple-2);
}



*{
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}
a:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}
p, span, h1, h2, h3, h4, h5, h6, label, a{
    color: white;
}
input[type="text"], input[type="password"], input[type="email"] {
    color: white;
    
}
body, #root{
  overflow-y: hidden;
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: var(--electric-blue);
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex-shrink: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
}


.content{
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-grow: 2;
  padding-top: 4.5rem;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content{
  background-image: url('/placeholders/champselect.jpg');
  background-size: cover;
  background-position: center;
}





.footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.tippy-box{
  margin-top: 0.3rem;
}
.tippy-box.move-left{
    margin-right: 2rem;
}
.tippy-box.move-right{
    margin-left: 1.5rem;
}
.content .loader-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.content .game-container .loader-container{
  width: 23%;
}
@media(min-width: 840px){
  .content {
    padding-top: 4.5rem;
  }
  
}
@media(max-width: 840px){
  .game-container .loader-container{
    margin: 13rem;
  }
}








.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.difficulty-container .loader{
  margin-top: 1rem;
  
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: rgba(230,59,59);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;
}

 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


